* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  /* font-family: monospace; */
}
.attribution {
  font-size: 11px;
  padding-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container {
  display: flex;
  gap: 30rem;
  height: 100vh;
  overflow: hidden;
}
.cards {
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  height: 100vh;
  padding-left: 20px;
}
.front {
  position: relative;
  left: 160px;
  top: 120px;
  width: 350px;
}
.card-1{
  position: relative;
}
.circle{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  top: 150px ;
  z-index: 1;
}
.round{
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 230px;
  top:160px;
  z-index: 1;
}
.main-2{
  color: hsl(270, 3%, 87%);
  font-size: 15px;
  z-index: 1;
}
.all-span{
  position: absolute;
  left: 450px;
  top: 80px;
  font-size: 14px;
}
.back .card-1 p {
  position: absolute;
  color: hsl(270, 3%, 87%);
  top: 6px;
}
.back {
  position: relative;
  width: 350px;
  left: 240px;
  top: 150px;
}

.numbers{
  position: relative;
  color: hsl(270, 3%, 87%);

}

.main-number{
  position: absolute;
  color: hsl(270, 3%, 87%);
  font-size: 23px;
  letter-spacing: 0.15rem;
  left: 180px;
  width: 100%;
  top: 20px;
  z-index: 1;
}

.main-2-half{
  font-size: 15px;
  z-index: 1;
  color: hsl(270, 3%, 87%);
}
.avatar{
  position: absolute;
  color: hsl(270, 3%, 87%);
  font-size: 13px;
  left: 180px;
  top: 80px; 
  z-index: 1;
  text-transform: uppercase;
}
#form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}
form label{
 padding-bottom: 10px;
 padding-top: 20px;
 color: hsl(278, 68%, 11%);
 text-transform: uppercase;
 font-size: 12px;
 letter-spacing: 0.1rem;
}
form input{
    padding: 12px;
    width: 330px;
    border-radius: 7px;
    border: 1px solid hsl(270, 3%, 87%);
    font-weight: 700;
    
}
form input:focus{
  border: 1px soild hsl(278, 68%, 11%);
  cursor: pointer;
  
}
.avatar-p{
  color: hsl(0, 100%, 66%);
  padding-top: 10px;
  font-size: 10px;
  text-transform: capitalize;
  
}
 input::placeholder{
    /* font-weight: 500; */
    color: hsl(279, 6%, 55%);
}
.labels{
  display: flex;
  gap: 4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 6px;
}
.inputs{
  display: flex;
  gap: 1rem;

}
.inputs #month, .inputs #year{
  width: 80px;
  
}
.inputs #cvcInput{
  width: 150px;
}
.submit{
  padding: 12px;
  min-width: inherit;
  width: 100%;
  margin-top: 40px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}
.card-2{
  position: relative;
}
.cvcdata{
  position: absolute;
  color: hsl(270, 3%, 87%);
  font-size: 15px;
  left: 520px;
  top: 235px;
  z-index: 1;
}
#cardnumber{
  color: hsl(0, 100%, 66%);
  padding-top: 7px;
  font-size: 10px;
}
#thankyou{
  text-align: center;
  line-height: 2.5rem;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 200px;

}
#thankyou img{
  width: 70px;
}
#thankyou h2{
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 20px;
}
#thankyou p{
  font-size: 17px;
  color: hsl(279, 6%, 55%);
  padding-bottom: 20px;
  padding-top: 20px;
}
#thankyou button{
  padding: 12px;
  width: 350px;
  border-radius: 8px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: #fff;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;

}
 .year-p, .cvcInput-p,.month-p{
  color: red;
  font-size: 10px;
  padding-top: 5px;
}